body{
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    width: 15vh;
    height: 12vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-items{
    list-style-type: none;
}

.nav-items li{
    display: inline;
    margin-right: 20px;
}

header{
    text-align: center;
}

header img{
    width: 100%;
    height: 80vh;
    margin-bottom: 2vh;
}

/* FACILITY SECTION */

.facilitations{
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
}

.facilitations div{
    text-align: center;
}

.cicle{
    width: 12vh;
    height: 12vh;
    border: 2px solid black;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* INPUT SECTION */

textarea {
    resize: none;
    border-radius:10px;
}

label {
    display: inline-block;
    width: 13ch;
}

input {
    margin-bottom: 2vh;
    padding: 5px 10px;
    border-radius:20px;
}

.messageUs{
    margin-bottom: 2vh;
    margin-left: 20ch;
    display: flex;
    justify-content: space-between;
}

.button{
    margin-top: 2vh;
}

.pesan{
    display: flex;
    flex-flow: row wrap;
}

#message{
    width: 35ch;
    height: 10vh; 
    text-align: left;
    margin-left: 10ch;
}

/* RESULT SECTION */

#showResult{
    width: 60vh;
    height: 40vh;
    border: 2px solid black;
    margin: auto;
}