body{
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    width: 15vh;
    height: 12vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-items{
    list-style-type: none;
}

.nav-items li{
    display: inline;
    margin-right: 20px;
}

header{
    text-align: center;
}

header img{
    width: 100%;
    height: 80vh;
    margin-bottom: 2vh;
}

/* SLIDESHOW SECTION */
* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "prev button" to the right */
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    background-color:rgb(0, 0, 0);
    color: #f2f2f2;
    font-size: 25px;
    padding: 8px 12px;
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/4 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* FACILITY SECTION */

.facilitations{
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
}

.facilitations div{
    text-align: center;
}

.cicle{
    width: 12vh;
    height: 12vh;
    border: 2px solid black;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* INPUT SECTION */

textarea {
    resize: none;
    border-radius:10px;
}

textarea:focus{
    border: 5px solid red;
}

label {
    display: inline-block;
    width: 13ch;
}

input {
    margin-bottom: 2vh;
    padding: 5px 10px;
    border-radius:20px;
}

input:focus{
    border: 5px solid red;
}

.messageUs{
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 20ch;
    display: flex;
    justify-content: space-between;
}

.pesan{
    display: flex;
    flex-flow: row wrap;
}

#message{
    width: 35ch;
    height: 10vh; 
    text-align: left;
    margin-left: 10ch;
}

/* BUTTON SECTION */

.buttons{
    margin-top: 2vh;
}

.submit{
    background-color: rgb(67, 101, 234);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.submit:hover{
    background-color: rgb(51, 76, 178);
}

.submit:focus{
    background-color: rgb(36, 53, 122);
    transform: translateY(5px);
}

.reset{
    background-color: rgb(195, 0, 0);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.reset:hover{
    background-color: rgb(171, 0, 0);
}

.reset:focus{
    background-color: rgb(101, 0, 0);
    transform: translateY(5px);
}

/* RESULT SECTION */

#showResult{
    width: 65ch;
    height: 35vh;
    border: 2px solid black;
    margin: auto;
    margin-top: 5vh;
    padding-top: 5vh;
    padding-left: 5ch;
}